#menu-bar {
    display: none;
}

#menu-top label {
    float: right;
    font-size: 20px;
    margin: 6px 0;
    color: #fff;
    cursor: pointer;
}

#menu-top .contenedor img {
    height: 20px;
    margin: 10px;
}

.menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 260px;
    left: 0;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color: #000;
    height: 50px;
    text-decoration: none;
    padding: 15px 5px;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu a:hover {
    background: #F24957;
}

.header #menu .contenedor img {
    height: 30px;
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

/*----- Estilos de 1024px en escritorio -----*/
@media (min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        display: flex;
        float: right;
    }
    .menu a {
        border: none;
        margin: 0px 10px;
    }
    .menu a:hover {
        color: #F24957;
        background: none;
    }
    #menu-bar {
        align-content: center;
    }
    #menu-top label {
        display: none;
    }
    #menu-top .contenedor {
        text-align: center;
    }
}